// fonts
// $body-font: "Open Sans", sans-serif;
$body-font: "Poppins", sans-serif;
$body-font-family: "Poppins", sans-serif;
$header-font: "Rochester", cursive;

//color
$color-white: #ffffff;
$color-black: #000000;
$color-default: #222222;
$color-primary: #6159a7;
$color-secondary: #522e8e;
$color-success: #3ab549;
$color-danger: #fa4942;
$color-warning: #fbb03b;
$color-info: #1bb9c2;
$color-gray: #dddddd;
$color-brand: #E51F76;

$primary: #362787;
$primary_lite_1: #594e9e;
$primary_lite_2: #8078b5;
$primary_lite_3: #a8a3cd;
$primary_lite_4: #d3d1e6;
$primary_lite_5: #f4f4f9;
$primary_dark_1: #120f22;
$primary_dark_2: #1d1741;
$primary_dark_3: #291e63;

//background
$bg-white: #ffffff;
$bg-off-white: #f9f9f9;
$bg-black: #000000;
$bg-primary: #6159a7;
$bg-secondary: #522e8e;
$bg-success: #3ab549;
$bg-danger: #fa4942;
$bg-warning: #fbb03b;
$bg-info: #1bb9c2;
$bg-brand: #E51F76;

//border
$border-white: #ffffff;
$border-black: #000000;
$border-default: #dddddd;
$border-primary: #522e8e;
$border-secondary: #522e8e;
$border-success: #3ab549;
$border-danger: #fa4942;
$border-warning: #fbb03b;
$border-info: #1bb9c2;
$border-gray: #dddddd;
$border-brand: #E51F76;
